.searchpage-container{
    background-color: white;
    width: 70vw;
    transform: translate(12vw,15vw);
    border-radius: 1vw;
    padding : 1vw;
    overflow: scroll;
    .noresults{
        font-size: 1.5vw;

    }
    // padding-right: 7vw;
    

    .main-list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 5vw;
        padding-left: 0vw;
        padding-right: 7vw;
        padding-bottom: 5vw;
        gap: 2vw;
        .firstlist-element{
            position: relative;
        }
        


        h1{
            color: red;
            
            font-size: 5vw;
            transform: translate(10vw,5vw);
    
        }

        li{
            list-style: none;
        }
            
       
          
           
        
             .image-container{
                text-wrap: wrap;
                background-color: lightblue;
                margin-bottom: 3vw;
                
                // height: 15vw;
                padding-top: 1vw;
                transform: translate(4vw,0vw);
                border: 3px solid #333333;
                // overflow: scroll;




                .thumb{
                    height: 4vw;
                    width: 8vw;
                    transform: translate(5.4vw,0vw);
                }
                .storeID{height: 1.4vw;
                width: 3vw;
                transform: translate(-1vw,0.3vw);
            }
            hr{
                width:15vw;
            }
                

                
            }
         
            .name-container{
                display: grid;
                grid-template-columns:3fr 1fr;
                margin-top: 0.7vw;
                background-color: white;
                height: 4vw;
                text-align: center;
                padding-top: 1vw;
                span{color: green;
                display: none;}
                p{
                    font-size: 1.1vw;
                    transform: translate(1.1vw,-1.5vw);
                }
            }
            .showgames{
                // position:absolute;
                height: 1.4vw;
                width:1.4vw;
                border-radius: 10vw;
                color:white;
                background-color: lightcoral;
                margin-left: 1vw;
                // transform: translate(1vw,2vw);
                // position: fixed;
                font-weight: 900;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1vw;
                border: none;
                // vertical-align: middle;
                


            }
            .secondlist-item{

                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                grid-column: span 1;
            list-style: none;
            margin: 1vw;
            margin-left: 2vw;
            
            height: 4vw;
            h4{
                transform: translate(0vw,-1.4vw);
                text-decoration: underline;
                color: black;
                font-size: 1.2vw;
            }
            h3:hover{
                color:rebeccapurple;
            }
            span{
                margin-left: 1vw;
                font-size: 1vw;
                transform: translate(0vw,0vw);
                background-color: #333333;
                color:white;
                padding: 0.6vw;
                border-radius: 0.6vw;
                height: 1vw;
                text-align: center;
            

            }
            // transform: translate(3vw,4vw);
                
                // display: none;
            }
            .second-list{
                background-color: blue;
                margin: 1vw;
                padding: 1vw;
                margin-bottom: 3vw;
                transform: translate(0vw,-6vw);
                // overflow: hidden;
                // position:absolute;

            }
    }
   
 
    
}