.heading{
    transform: translate(36vw,7vw);
    font-size: 2.5vw;
    color:white;
}
.homepage-container{
    background-color: white;
    padding: 2vw;
    height: 70vw;
    width: 60vw;
    transform: translate(18vw,12vw);
    border-radius: 1vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1vw;
    margin-bottom: 7vw;

    
}