.searchbar-container{
    .searchbar-input{
        border-radius: 1vw;
        height: 2vw;
        margin-top: 4vw;
        width: 15vw;
        padding-left: 1vw;
    }
    input::placeholder {
        font-size: 1vw; 
      }

}