.about-container{
    background-color: white;
    transform: translate(30vw,10vw);
    border-radius: 2vw;
    padding: 3vw;
    height: 20vw;
    color: black;
    width: 40vw;
    font-size: 1.5vw;
    text-align:justify;
}