.gamelistsearchbar-container{
    .gamelistsearchbar-input{ border-radius: 1vw;
        height: 2vw;
        margin-top: 1vw;
        width: 15vw;
        padding-left: 1vw;
        transform: translate(28vw,5vw);
        
    }
    button{
        transform: translate(29vw,5vw);
        height: 2vw;
        width: 7vw;
        background-color: lightblue;
        border: none;
        border-radius: 1vw;
        font-size: 1vw;

    }
}