main{
  h1{
    color: white;
  }
  
  hr{
    margin-top: 1.5vw;
    width: 27vw;
  }
  .top-deals{
    margin-left: 41vw;
    color: white;
    img{
      margin-right: 2vw;
      height: 3vw;
    }
  }


}